<html>
   <head>
      <title>JOURNEY</title>
      <meta http-equiv = "refresh" content = "2; url = https://abhirangana.github.io" />
   </head>
   <body>
      <p>redirectin.......☺☺☺☺</p>
   </body>
</html>